div {
    // background-color: rgb(250, 247, 234);
    .detail {
        background-color: rgb(250, 247, 234);
        display: flex;
        padding-left: 155px;
        padding-top: 80px;
    }

    .center-boxes {
        border: 1px solid red;
        width: 690px;

        .taco-info-box {
            border: 1px solid black;
            background-color: white;
            font-size: 20px;
            height: 280px;
            width: 690px;
            margin-bottom: 15px;


            .header {
                border: 1px solid black;
                height: 145px;
                // width: 400px;
                // float: right;
                display: flex;

                .logo-box {
                    border: 1px solid black;
                    height: 110px;
                    width: 110px;
                }
                
                .taco-info {
                    border: 1px solid black;
                    width: 350px;
                    padding-left: 10px;
                    // float: right;

                    .taco-name {
                        // background-color: white;
                        border: 1px solid black;
                        font-size: 32px;
                        margin-top: 15px;
                        font-weight: 425;
                    }

                    .restaurant-name {
                        // background-color: white;
                        // float: right;
                        border: 1px solid black;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-size: 20px;
                        font-weight: 500;
                        color: rgb(194, 103, 0);
                    }

                    .taco-style {
                        // background-color: white;
                        border: 1px solid black;
                        height: 40px;
                        color: rgb(124, 124, 124);
                        font-size: 16px;
                        font-weight: 450;
                    }

                    .taco-rating {
                        // background-color: white;
                    }

                }

                .taco-check-ins {
                    // border: 1px solid black;
                    width: 197px;
                    height: 90px;
                    margin-top: 15px;
                    font-size: 11px;
                    color: gray;
                    // display: inline;

                    .total {
                        border-bottom: 1px solid rgb(214, 214, 214);
                        border-right: 1px solid rgb(214, 214, 214);
                        height: 45px;
                        width: 93px;
                        padding-left: 5px;
                        float: left;
                    }

                    .unique {
                        border-bottom: 1px solid rgb(214, 214, 214);
                        height: 45px;
                        width: 93px;
                        padding-left: 5px;
                        float: right;
                    }

                    .monthly {
                        border-right: 1px solid rgb(214, 214, 214);
                        height: 46px;
                        width: 93px;
                        padding-left: 5px;
                        padding-top: 4px;
                        float: left;
                    }

                    .you {
                        // border-left: 1px solid gray;
                        height: 46px;
                        width: 93px;
                        padding-left: 5px;
                        padding-top: 4px;
                        float: right;
                    }
                }
            }

            .info-bar {
                border: 1px solid black;
                height: 48px;
                padding-left: 13px;
                display: flex;
                font-size: 15px;
                color: gray;

                .rating {
                    border: 1px solid black;
                    width: 336px;
                    padding-top: 12px;
                    text-align: center;
                    
                }

                .total-ratings {
                    // float: right;
                    text-align: right;
                    border: 1px solid black;
                    width: 300px;
                    padding-top: 12px;
                    padding-right: 20px;
                }

            }

            .description {
                border: 1px solid red;
                height: 67px;
                color: gray;
                font-size: 17px;
                font-weight: 500;
                display: flex;
                margin-left: 11px;
                padding-top: 15px;

                .description-text {
                    border: 1px solid black;
                    width: 550px;
                }

                .taco-buttons {
                    border: 1px solid black;
                    width: 134px;
                    display: flex;

                    .check-in {
                        border: 1px solid black;
                        height: 50px;
                        width: 50px;
                        margin-left: 5px;
                        margin-right: 12px;
                        background-color: rgb(255, 205, 40);
                        color: white;
                        font-size: 38px;
                        font-weight: 900;
                    }

// .modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width:100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.6);
// }


  .display-block {
  display: block;
  font-size: 500px;

  .modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
}

.display-none {
  display: none;

  .modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
}






                    .add-to-list {
                        border: 1px solid black;
                        height: 50px;
                        width: 50px;
                        // padding-bottom: 20px;
                        // text-align: center;
                        background-color: rgb(255, 205, 40);
                        color: white;
                        font-size: 38px;
                        font-weight: 800;
                        
                    }

                    .add-to-list:hover {
                        cursor: pointer;
                        background-color: rgb(238, 182, 0);
                    }

                    .check-in:hover {                   
                        cursor: pointer;
                        background-color: rgb(238, 182, 0);
                    }
                    
                }
            }
        }

        .taco-pics {
            border: 1px solid black;
            background-color: white;
            font-size: 20px;
            height: 130px;
            width: 684px;
            margin-left: 3px;
            margin-bottom: 15px;
        }

        .taco-activity-box {
            border: 1px solid black;
            background-color: white;
            font-size: 20px;
            width: 640px;
            padding-left: 25px;
            padding-right: 25px;

            .header {
                // border: 1px solid black;
                border-bottom: 1px solid gray;
                background-color: white;
                font-weight: bold;
                margin-top: 24px;
                font-size: 21px;
            }

            .activity-box {
                border: 1px solid black;
                background-color: white;
                margin-top: 3px;
                margin-bottom: 3px;

                .taco-checkin-box {
                    display: flex;
                    flex-wrap: wrap;
                    border: 1px solid red;
                    font-size: 20px;
                    margin-top: 23px;
                    border-bottom: 1px solid gray;

                    .profile-pic {
                        border: 1px solid black;
                        font-size: 8px;
                        height: 50px;
                        width: 50px;
                    }

                    .checkin-info {
                        border: 1px solid black;
                        height: 40px;
                        width: 500px;
                        margin-left: 6px;

                        a {
                            text-decoration: none;
                            color: rgb(194, 103, 0);
                        }
                    }

                    .description-and-rating {
                        border: 1px solid black;
                        height: 60px;
                        width: 500px;
                        margin-left: 50px;
                        margin-bottom: 10px;
                        padding-left: 8px;
                    }

                    .taco-pic {
                        border: 1px solid black;
                        height: 240px;
                        width: 200px;
                        margin-left: 50px;
                        padding-left: 8px;
                    }

                }

            }

            .footer {
                // border: 1px solid black;
                border-top: 1px solid gray;
                background-color: white;
                height: 85px;
                .show-more {
                    font-size: 17px;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(255, 205, 40);
                    margin: auto;
                    margin-top: 24px;
                    display: block;
                    width: 199px;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    border-radius: 3px;
                    border: none;

                }

                .show-more:hover {
                    cursor: pointer;
                    background-color: rgb(238, 182, 0);
                }
            }
        }
    }

    .right-boxes {
        width: 300px;
        border: 1px solid red;
        margin-left: 40px;

        .proposal-box {
            border: 1px solid black;
            font-size: 20px;
            height: 90px;

            a {
                margin: auto;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 10px;
                text-decoration: none;
                font-size: 16px;
                color: rgb(194, 103, 0);
                width: 200px;
            }

            a:hover {
                color: rgb(255, 164, 28);
            }
            
        }

        .taco-loyalists-box {
            border: 1px solid black;
            background-color: white;
            font-size: 18px;
            height: 255px;
            margin-bottom: 24px;
            padding-left: 14px;
            padding-right: 14px;

            .header {
                border-bottom: 1px solid gray;
                background-color: white;
                font-weight: 650;
                padding-top: 12px;
                padding-bottom: 4px;
                margin-bottom: 10px;
            }

            .tacoists-index {
                border: 1px solid black;
                height: 206px;

                .tacoist {
                    border: 1px solid black;
                    font-size: 8px;
                    height: 33%;
                    width: 25%;
                    margin-left: 4px;
                }
            }

        }

        .similar-tacos-box {
            border: 1px solid black;
            background-color: white;
            font-size: 18px;
            height: 355px;
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 23px;

            .header {
                border-bottom: 1px solid gray;
                background-color: white;
                font-weight: 650;
                padding-top: 13px;
                padding-bottom: 4px;
            }

            .similar-tacos-index {
                border: 1px solid red;
                height: 315px;

                .similar-taco {
                    border: 1px solid black;
                    height: 20%;
                }
            }
        }

        .nearby-locations-box {
            border: 1px solid black;
            background-color: white;
            height: 231px;
            font-size: 18px;
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 23px;

            .header {
                border-bottom: 1px solid gray;
                background-color: white;
                font-weight: 650;
                padding-top: 12px;
                padding-bottom: 4px;
            }

            .nearby-locations-index {
                border: 1px solid black;
                height: 192px;

                .nearby-location {
                    border: 1px solid black;
                    height: 33%;
                }
            }
        }

        .popular-locations-box {
            border: 1px solid black;
            background-color: white;
            font-size: 18px;
            padding-left: 14px;
            padding-right: 14px;
            height: 660px;

            .header {
                border-bottom: 1px solid gray;
                background-color: white;
                font-weight: 650;
                padding-top: 12px;
                padding-bottom: 4px; 
            }

            .popular-locations-index {
                border: 1px solid black;
                height: 621px;

                .popular-location {
                    border: 1px solid black;
                    height: 10%;
                }
            }

        }
    }
}