/* restaurant-show */
.rest-show-page {
    display: flex;
}
.rest-show-left {
    background-color: white;
    box-sizing: border-box;
    width: 740px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 100px 20px 0px 20px;
    overflow: auto;
    padding-bottom: 25px;
}

.rest-show-right {
    margin: 100px 0px 0px 20px;
    background-color: white;
    height: 550px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.rest-show-r-top {
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rest-show-num-likes {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
}

.rest-show-likes-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.rest-show-r-mid {
    display: flex;
    width: 100%;
    justify-content: center;
}

.rest-show-like-btn {
    font-family: 'Roboto', sans-serif;
    width: 250px;
    margin: 12px auto 24px;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #ffcc00;
    font-size: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
}

.rest-show-like-btn:hover, .rest-show-like-image:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.rest-show-r-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rest-show-like-image {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    margin: 10px;
    object-fit: cover;
}

.rest-show-top {
    display: flex;
}

.rest-show-image {
    width: 125px;
    height: 125px;
    background-color: lightgray;
    margin: 20px;
    object-fit: cover;
}

.rest-show-details {
    margin-top: 20px;
}

.rest-show-name {
    font-family: 'Lexend Exa', sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2px;
    text-decoration: none;
}

.rest-show-location {
    font-family: 'Lexend Exa', sans-serif;
    color: #999999;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.rest-show-bottom {
    display: flex;
}

.rest-show-desc{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    width: 450px;
    height: 110px;
    overflow: auto;
    color: #999999;
}

.rest-show-social {  
    margin-left: 10px;
    height: 55px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-link {
    height: 50px; 
    width: 50px; 
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fa-facebook-f:hover, 
.fa-twitter:hover, 
.fa-instagram:hover, 
.fa-link:hover {
    cursor: pointer;
    filter: brightness(0.8)
}

.fa-facebook-f {
    background-color: #3B5997;
}
.fa-twitter {
    background-color: #2CAAE1;
}
.fa-instagram {
    background-color: #517FA4;
}
.fa-link {
    background-color: #FFCC01;
}

/* restaurant-index */

.rest-index-container {
    background-color: white;
    box-sizing: border-box;
    width: 740px;
    display: flex;
    height: auto;
    max-height: 700px;
    margin: 70px 20px 0px 20px;
    overflow: auto;
    padding-left: 20px;

}

.rest-index-item {
    display: flex;
    flex-direction: column;
}

.rest-index-list {
    list-style: none;
    padding: 0px;
}

.rest-index-image{
    height: 100px;
    width: 100px;
    background-color: lightgray;
    margin-right: 10px;
    object-fit: cover;
}

.rest-index-item {
    height: 175px;
    margin-top: 20px;
    width: 650px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.rest-index-details {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 500px;
}

.rest-item-name {
    font-family: 'Lexend Exa', sans-serif;
    color: #c60;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2px;
    text-decoration: none;
}

.rest-item-loc {
    font-family: 'Lexend Exa', sans-serif;
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.rest-item-name:visited {
    color: #c60;
}

.rest-item-top2 {
    display: flex;
}

.rest-item-desc {
    font-size: 16px;
    /* color: darkgray; */
    font-family: 'Roboto', sans-serif;
}

.rest-item-tacos {
    margin: 10px 0px 2px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.rest-item-taco-list {
    margin-left: 30px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.rest-taco-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #c60;
}
.rest-taco-link:visited {
    color: #c60;
}

