.homepage {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    padding-bottom: 100px;
}

.home-left {
    background-color: white;
    width: 70%;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;

}

.recent-activity h3 {
    font-family: "Roboto", "sans-serif";
    font-weight: 600;
    font-size: 1.4em;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;

}

.no-activity {
    text-align: center;
    color: #666;
    font-size: 1.4em;
    padding: 15px 0;
    font-family: "Roboto","sans-serif";
}

.home-right {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.home-profile {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}

.user-info {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.user-avatar {
    display: inline-block;
    vertical-align: top;
}

.user-avatar img {
    width: 52px;
    height: 52px;
    overflow: hidden;
    border-radius: 26px;
}

.info {
    padding-left: 10px;
}

.info h2 {
    font-size: 1.4em;
    line-height: 1.125em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info p {
    color: #999;
    font-weight: 400;
    font-size: 0.8em;
    padding-left: 12px;
    margin-right: 18px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1em;
}

.prof-stats {
    border-radius: 4px;
}

.prof-stats div {
    display: inline-block;
    width: 50%;
    color: #333;
    text-align: center;
    padding: 8px;
    background-color: #f8f8f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prof-stats div:first-child {
    box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
}

.prof-stats div:first-child, .prof-stats div:nth-child(2) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.prof-stats div:nth-child(3) {
    box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.1);
}

.prof-stats div .stat {
    display: block;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.prof-stats div .title {
    text-transform: uppercase;
    font-size: .6em;
    font-weight: 600;
    display: block;
}

.home-lists {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    background-color: white;
}

.home-lists h3 {
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 6px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.activity-content .taco-checkin-box {
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.activity-content .taco-checkin-box .profile-pic{
    width: 75px;
    height: 75px;
    padding-right: 10px;
}

.activity-content .taco-checkin-box .checkin-info{
    width: 80%;
}

.checkin-statement {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.checkin-statement a {
    color: #c60;
}

.activity-content .taco-checkin-box .checkin-info .description-and-rating {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
}

.checkin-info .description-and-rating::after {
    border-right: 20px solid transparent;
    border-bottom: 20px solid #efefef;
    top: -20px;
    content: "";
    position: absolute;
    left: 10px;
}

.checkin-rating .stars {
    padding: 10px 0;
}