/* restaurant-show */
.rest-show-page {
    display: flex;
    justify-content: center;
}
.rest-show-left {
    box-sizing: border-box;
    width: 740px;
    max-height: 775px;
    display: flex;
    flex-direction: column;
    margin: 100px 20px 100px 20px;
    overflow: auto;
    padding-bottom: 25px;
}

.taco-man {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 70px;
}

.star-rev{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.star-div {
  display: inline;
  color: #999999;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}

.new-taco-container {
    width: 100%;
}
.rest-show-right {
    margin: 100px 0px 0px 20px;
    background-color: white;
    max-height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.rest-show-r-top {
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rest-show-num-likes {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
}

.rest-show-likes-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.rest-show-r-mid {
    display: flex;
    width: 100%;
    justify-content: center;
}

.rest-show-like-btn, .rest-show-unlike-btn {
    font-family: 'Roboto', sans-serif;
    width: 250px;
    margin: 12px auto 24px;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #ffcc00;
    color: black;
    font-size: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
}

.rest-show-unlike-btn {
    background-color: #efefef;
}

.rest-show-like-btn:hover, 
.rest-show-like-image:hover,
.rest-show-unlike-btn:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.rest-show-r-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rest-show-like-image {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    margin: 10px;
    object-fit: cover;
}

.rest-show-top {
    display: flex;
    background-color: white;
}

.rest-show-image {
    width: 125px;
    height: 125px;
    background-color: lightgray;
    margin: 20px;
    object-fit: cover;
}

.rest-show-details {
    margin-top: 20px;
}

.rest-show-name {
    font-family: 'Lexend Exa', sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2px;
    text-decoration: none;
}

.rest-show-location {
    font-family: 'Lexend Exa', sans-serif;
    color: #999999;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.rest-show-bottom {
    background-color: white;
    display: flex;
    padding-bottom: 20px;
}

.rest-show-desc{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: auto;
    color: #999999;
}

.rest-show-social {  
    margin-left: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-link {
    height: 50px; 
    width: 50px; 
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.fa-facebook-f:hover, 
.fa-twitter:hover, 
.fa-instagram:hover, 
.fa-link:hover {
    cursor: pointer;
    filter: brightness(0.8)
}

.fa-facebook-f {
    background-color: #3B5997;
}
.fa-twitter {
    background-color: #2CAAE1;
}
.fa-instagram {
    background-color: #517FA4;
}
.fa-link {
    background-color: #FFCC01;
}

.add-taco-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 203, 0);
    padding: 3px 6px 3px 6px;
    border-radius: 5px; 
    height: 40px;
    margin-top:5px;
    width: 200px;
}

.add-taco-btn:hover{
    cursor: pointer;
    filter: brightness(0.8)
}

.add-taco-flex{
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
    margin-right: 9px;
}

.add-taco{
    display: inline;
    margin: 0px 13px 0px 0px;
    font-size: 24px;
    font-weight: 600;
}

.social-top {
    display: flex;
    justify-content: space-evenly;
    margin-right: 7px;
}

/* restaurant-index */

.rest-index-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 50px;
    overflow: auto;
}

.rest-index-wrapper {
    width: 80%;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    justify-content: center;
}

.rest-label {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #E2E2E2;
}

.review-form-text {
    margin-left: 15px;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 16px;
}

.rest-index-right {
    background-color: white;
    width: 70%;
    min-width: 700px;
    margin-bottom: 80px;
}

.rest-index-left {
    /* width: 30%; */
}


.rest-index-list {
    list-style: none;
    padding: 0px 20px;
}

.rest-index-image{
    height: 75px;
    width: 75px;
    background-color: lightgray;
    margin-right: 10px;
    object-fit: cover;
}

.rest-index-item {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.rest-index-item:last-child {
    border: none;
}

.rest-index-details {
    display: flex;
    border-right: 1px solid lightgray;
    width: 70%;
}

.rest-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rest-item-name {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #c60;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.rest-item-name:hover {
    color: rgb(255, 128, 1);
}

.rest-item-loc {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.rest-item-name:visited {
    color: #c60;
}

.rest-item-top2 {
    display: flex;
    align-items: center;
}

.rest-stats-top {
    display: flex;
}

.rest-stats {
    width: 40%;
}

.rest-stats-taco {
    width: 40%;
    padding: 8px;
    border-right: 1px solid lightgray;
    color: #999999;
    text-align: center;
    font-size: 16px;
}

.rest-stats-ratings {
    width: 60%;
    padding: 8px;
    color: #999999;
    text-align: center;
}

.rest-stats-stars {
    padding: 8px;
    border-top: 1px solid lightgray;
    text-align: center;
}

.fill {
    color: #FBC71E;
}

.stars .far {
    color: gray;
}

.stars i {
    transform: scale(1.3);
    padding: 3px;
}

.rest-item-desc {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.rest-item-tacos {
    margin: 10px 0px 2px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.rest-item-taco-list {
    margin-left: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.rest-taco-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #c60;
}
.rest-taco-link:visited {
    color: #c60;
}

/* top tacos */

.top-taco-image {
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    margin-right: 15px; 
}

.top-taco {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow: auto;
    margin-left: 20px;
}

.top-taco-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
}

.top-taco-list h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.top-taco-item {
    min-width: 300px;
    display: flex;
    margin-top: 10px;
}

.top-taco-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-taco-details {
    display: flex;
}

.top-taco-name, .top-taco-rest {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #c60;
    width: 100%;
}

.top-taco-rest {
    font-size: 15px;
    color: #666666;
}

.top-taco-name {
    font-size: 20px;
}

.top-taco-name:hover {
    color: rgb(255, 128, 1);
}

.fa-plus-circle {
    font-size: 30px;
}

/* rest show tacos */

.rest-show-tacos {
    margin-top: 20px;
    width: 100%;
    background-color: white;
}

.rest-taco-photo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 20px;
}

.rest-taco-item {
    margin: 20px;
    display: flex;
    align-items: center;
}

.rest-taco-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}



.rest-taco-feat {
    font-family: 'Lexend Exa', sans-serif;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #c60;
}

.rest-taco-name {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.rating-stars {
    float:right;
    margin: 15px 0px;
}

.rating-stars:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating-stars:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars:not(:checked) > label:before {
    content: '★ ';
}

.rating-stars > input:checked ~ label {
    color: #FFCC01;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars:not(:checked) > label:hover,
.rating-stars:not(:checked) > label:hover ~ label {
    color: #FFCC01;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars > input:checked + label:hover,
.rating-stars > input:checked + label:hover ~ label,
.rating-stars > input:checked ~ label:hover,
.rating-stars > input:checked ~ label:hover ~ label,
.rating-stars > label:hover ~ input:checked ~ label {
    color: #FFCC01;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.inner-review-form {
    display: flex;
    flex-direction: column;
}

.new-review-form {
    width: 200px;
}

.review-form-textarea {
    float: right;
    width: 225px;
    margin-left: 15px;
    margin-bottom: 15px;
    resize: none;
    height: 40px;
}

.create-review-btn {
    margin-left: 15px;
    background-color: #FFCC01;
    color: black;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.create-review-btn:hover {
    cursor: pointer;
    filter: brightness(0.8)
}

.review-confirm {
    margin-top: 5px;
    width: 200px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.review-body-ul{
    margin-left: 3vw;
    margin-bottom: 5vh;
    list-style: none;
}


.review-body {
    width: 100%;
    background-color: white;
    position: relative;
    height: fit-content;
    margin-top: 10px;
}

.review-top {
    width: 400px;
    border-top: 1px solid #efefef;
    box-sizing: border-box;
    margin-top: 25px;
}
.review-name {
    color: #c60;
    font-size: 18px;
    margin-bottom: 5px;
}

.review-bottom {
    width: 400px;
    height: fit-content;
    margin: 5px 5px 5px 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #efefef;
}