.login-page-wrap {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("https://media-cdn.tripadvisor.com/media/photo-s/07/31/57/90/taco-craft.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -5;
}

.login-form-container, .signup-form-container {
    background-color: white;
    z-index: 1;
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.li-errors {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

.ul-errors-register{
  padding-top: 20px;
  padding-bottom: 5px;
}

.login-form-container {
    height: 445px;
}

.signup-form-container {
    height: 500px;
}

.login-form-top {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.login-logo {
    font-size: 46px;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bolder;
    padding-top: 20px;
}

.login-logo-bottom {
    font-size: 14px;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bolder;
    color: grey;
}

.login-form-middle {
    display: flex;
    justify-content: space;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.login-form-demo, .login-form-button, .signup-form-button {
    width: 250px;
    margin: 20px 20px 10px 20px;
    height: 46px;
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    outline: none;
    border-style: none;
}

.login-form-demo:hover, .login-form-button:hover {
    cursor: pointer;
    filter: brightness(.8)
}

.demo-or-login {
    color: lightgray;
    border: 4px solid lightgrey;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    height: 20px;
    width: 20px;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 5px;
}

.login-inputs, .signup-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}



.login-inputs {
    height: 100px;
}
.signup-inputs {
    height: 350px;
}

.login-input, .signup-input {
    width: 250px;
    margin: 5px 20px 5px 20px;
    height: 46px;
    padding-left: 5px;
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 14px;
    border-radius: 2px;
}

.login-input:focus, .signup-input:focus {
    outline: none;
}

.login-form-button, .signup-form-button {
    background-color: #ffcc00;
}

.login-form-bottom {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.login-link {
    text-decoration: none;
    color: #c60;
    font-weight: bold;
}

.login-link:visited {
    color: #c60;
}