.taco-index-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 50px;
    overflow: auto;
}

.taco-index-wrapper {
    width: 80%;
    max-width: 1000px;
    min-width: 700px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.taco-index-right {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.taco-index-list {
    list-style: none;
    padding: 0 20px;

}

.taco-index-image{
    height: 75px;
    width: 75px;
    margin-right: 10px;
    object-fit: cover;
}
.taco-index-item {
    padding: 20px 0;
    width: 650px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.taco-index-item:last-child {
    border: none;
}

.taco-index-details {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.taco-item-name {
    font-family: 'Roboto', sans-serif;
    color: #c60;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

.taco-item-rest {
    font-family: 'Roboto', sans-serif;
    color: #c60;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.taco-item-rest:visited, .taco-item-name:visited {
    color: #c60;
}

.taco-item-top {
    display: flex;
    flex-direction: column;
    min-height: 75px;
    justify-content: space-evenly;
}

.taco-item-desc {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.taco-item-stats{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.taco-item-stats-btn {
    display: flex;
}

.taco-index-rating {
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.fa-dollar-sign {
    font-size: 18px;
    font-weight: bold;
    color: green;
}

.new-taco-form{
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    align-content: center;
    z-index: 10;
}

.inner-taco-form {
    display: flex;
}

.taco-inner-left {
    width: 80%;
}

.taco-label {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #E2E2E2;
}

.top-index-item {
    box-sizing: border-box;
    min-width: 300px;
    display: flex;
    padding: 10px 0;
    margin-left: 20px;
}

.taco-index-left {
    background-color: white;
    box-sizing: border-box;
    width: 350px;
    justify-content: center;
    max-height: 700px;
    margin-left: 20px;
    padding: 20px;
}

.top-index-image {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    margin-right: 15px;
}

.top-item-name {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #c60;
}

.top-item-name:hover {
    color: rgb(255, 128, 1);
}

.top-item-loc {
    font-family: 'Roboto', sans-serif;
}

.top-rest-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-rest-text h2 {
    font-size: 24px;
    font-family: "Roboto", "sans-serif";
}

/* .top-rest-container {
    padding: 20px;
} */

.top-rest-border {
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    margin-top: 10px;
}

.taco-form-text {
    font-family: 'Lexend Exa', sans-serif;
    color: #c60;
    margin-bottom: 10px;
    font-size: 28px;
}

.taco-form-input {
    width: 80%;
    height: 20px;
    margin: 5px 0px 0px 20px;
    border-radius: 4px;
}

.taco-form-desc {
    width: 50%;
    height: 20px;
    margin: 5px 0px 0px 20px;
    border-radius: 4px;
    font-family: 'Lexend Exa', sans-serif;
}

.taco-form-textarea {
    resize: none;
    width: 80%;
    margin: 5px 0px 5px 20px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid grey;
}

.create-taco-btn {
    width: 51%;
    margin: 5px 0px 5px 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #FFCC01;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lexend Exa', sans-serif;
    border-radius: 5px;
}

.taco-show-top-rest {
    background: white;
    max-height: 472px;
    overflow: auto;
}

.taco-show-top-text {
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}