div {
.super-detail {

    .detail {
        background-color: rgb(250, 247, 234);
        display: flex;
        justify-content: center;
        padding-top: 80px;
        font-family: 'Roboto', sans-serif;

        filter: brightness(100%);
    }

    .detail-dark {
        background-color: rgb(250, 247, 234);
        display: flex;
        padding-left: 155px;
        padding-top: 80px;
        filter: brightness(80%);
     }

    .display-none {
        display: none;
    }

            .display-block {
            display: block;
            font-size: 20px;
 
            .modal-main {
            border: 1px solid black;
            position:fixed;
            z-index: 1000;
            background: white;
            width: 500px;
            height: 260px;
            margin-top: 15%;

            left: 30%;
            font-size: 20px;
 
                .header1 {

                    .text {
                        font-size: 18px;
                        font-weight: 500;
                        height: 31px;
                        padding-top: 3px;
                        padding-left: 10px;
                        background-color: black;
                        color: white;
                    }

                    .exit {
                        font-size: 26px;
                        background-color: black;
                        color: white;
                        height: 34px;
                        font-weight: 100;
                    }
                }

                .new-checkin-form {
                    height: 50px;
                    width: 100%;

                    .checkin-form-button {
                        border: 1px solid black;
                        margin-left: 350px;
                        height: 30px;
                        outline: none;
                        width: 100px;
                        background-color: rgb(255, 205, 40);
                        color: white;
                        font-size: 16px;
                        font-weight: 700;
                        border-radius: 5px;
                    }

                    .checkin-form-button:hover {
                    border: 1px solid black;
                    margin-left: 350px;
                    height: 30px;
                    width: 100px;
                    background-color: rgb(230, 184, 36);
                    color: white;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 5px;
                    cursor: pointer;
                    }



                    .close-button {
                        float: left;
                        margin-top: 10px;
                    }

                    .checkin-inputs {

                        .description-input {
                            border: 1px solid black;
                            font-size: 20px;
                            
                        }

                        .rate-the-taco {
                            text-align: center;
                        }

                        .rating-input {
                            border: 1px solid black;
                        }

                        .rating-stars {
                            border: 1px solid black;
                            margin-right: 130px;
                            margin-top: 1px;
                            
                        }
                    }
                }
            }
        }

    .center-boxes {
        width: 730px;
        min-height: 1px;

        .taco-info-box {
            background-color: white;
            font-size: 20px;
            min-height: 280px;
            width: 100%;
            margin-bottom: 15px;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);

            .header {
                min-height: 145px;
                display: flex;

                .logo-box {
                    height: 110px;
                    width: 110px;
                }
                
                .taco-info {
                    width: 350px;
                    padding-left: 10px;

                    .taco-name {
                        font-family: 'Lexend Exa', sans-serif;
                        font-size: 32px;
                        margin-top: 15px;
                        font-weight: 425;
                    }

                    .restaurant-name {
                        padding-top: 2px;
                        font-family: 'Lexend Exa', sans-serif;
                        padding-bottom: 2px;
                        font-size: 20px;
                        font-weight: 500;
                        color: rgb(194, 103, 0);
                    }

                    .taco-style {
                        height: 40px;
                        color: rgb(124, 124, 124);
                        font-size: 16px;
                        font-weight: 450;
                    }

                    .taco-rating {
                    }

                }

                .taco-check-ins {
                    width: 197px;
                    height: 90px;
                    margin-top: 15px;
                    font-size: 11px;
                    color: gray;

                    .total {
                        border-bottom: 1px solid rgb(214, 214, 214);
                        border-right: 1px solid rgb(214, 214, 214);
                        height: 45px;
                        width: 93px;
                        padding-left: 5px;
                        float: left;

                        .total-number {
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }

                    .unique {
                        border-bottom: 1px solid rgb(214, 214, 214);
                        height: 45px;
                        width: 93px;
                        padding-left: 5px;
                        float: right;

                        .unique-number {
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }

                    .monthly {
                        border-right: 1px solid rgb(214, 214, 214);
                        height: 46px;
                        width: 93px;
                        padding-left: 5px;
                        padding-top: 4px;
                        float: left;

                        .monthly-number {
                            font-size: 24px;
                            font-weight: 500;

                        }
                    }

                    .you {
                        height: 46px;
                        width: 93px;
                        padding-left: 5px;
                        padding-top: 4px;
                        float: right;

                        .you-number {
                            font-size: 24px;
                            font-weight: 500;

                        }
                    }
                }
            }

            .info-bar {
                height: 48px;
                padding-left: 13px;
                display: flex;
                font-size: 15px;
                color: gray;

                .rating {
                    width: 336px;
                    font-size: 18px;
                    color: black;
                }

                .total-ratings {
                    text-align: right;
                    width: 300px;
                    padding-top: 12px;
                    padding-right: 20px;
                }

            }

            .description {
                min-height: 67px;
                color: gray;
                font-size: 17px;
                font-weight: 500;
                display: flex;
                margin-left: 11px;
                padding-top: 15px;

                .description-text {
                    width: 550px;
                }

                .taco-buttons {
                    width: 134px;
                    display: flex;

                    .check-in {
                        height: 50px;
                        outline: none;
                        width: 50px;
                        margin-left: 5px;
                        margin-right: 12px;
                        background-color: rgb(255, 205, 40);
                        color: white;
                        font-size: 38px;
                        font-weight: 900;
                    }

    .display-block {
    display: block;
    font-size: 20px;

    .modal-main {
    position:fixed;
    background: white;
    width: 500px;
    height: 260px;
    margin-top: 16px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;

    .header {
        border: 1px solid;

    .text {
        font-size: 18px;
        font-weight: 500;
        height: 31px;
        width: 100%;
        padding-top: 3px;
        padding-left: 10px;
        background-color: black;
        color: white;
    }

    .exit {
        font-size: 26px;
        background-color: black;
        color: white;
        height: 34px;
        font-weight: 100
    }
  }

  .new-checkin-form {
    height: 50px;
    width: 100%;
        .checkin-inputs {
            .description-input {
            }
            .rating-input {
            }
        }
    }

}
}
    .display-none {
        display: none;
    }




                    .add-to-list {
                        outline: none;
                        height: 50px;
                        width: 50px;
                        background-color: rgb(255, 205, 40);
                        color: white;
                        font-size: 38px;
                        font-weight: 800;
                        
                    }

                    .add-to-list:hover {
                        cursor: pointer;
                        background-color: rgb(238, 182, 0);
                    }

                    .check-in:hover {                   
                        cursor: pointer;
                        background-color: rgb(238, 182, 0);
                    }
                    
                }
            }
        }

        .taco-pics {
            background-color: white; 
            font-size: 20px;
            height: 130px;
            width: 100%;
            padding-left: 3px;
            width: 684px;
            margin-left: 3px;
            margin-bottom: 15px;
        }

        .taco-activity-box {
            background-color: white;
            font-size: 20px;
            width: 730px;
            overflow: auto;
            margin-bottom: 100px;
            box-sizing: border-box;
            padding-left: 25px;
            padding-right: 25px;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);

            .header {
                background-color: white;
                font-weight: bold;
                margin-top: 24px;
                padding-top: 30px;
                font-size: 21px;
            }

            .activity-box {
                background-color: white;
                margin-top: 3px;
                margin-bottom: 3px;

                .taco-checkin-box {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 20px;
                    margin-top: 55px;
                    height: fit-content;

                    .profile-pic {
                        font-size: 8px;
                        height: 50px;
                        width: 50px;
                    }

                    .checkin-info {
                        padding-bottom: 20px;
                        width: 500px;
                        margin-left: 6px;

                        a {
                            text-decoration: none;
                            color: rgb(194, 103, 0);
                        }
                    }

                    .description-and-rating {
                        word-wrap: break-word;
                        min-height: 60px;
                        overflow: visible;
                        width: 500px;
                        margin-left: 50px;
                        margin-bottom: 10px;
                        padding-left: 8px;

.speech-bubble {
    background: #efefef;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.2rem;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    margin-bottom: 5px;
    box-shadow: 5px 2px 2px grey;
    word-wrap: break-word;
}

.speech-bubble::after {
    border-right: 20px solid transparent;
    border-bottom: 20px solid #efefef;
    top: -20px;
    content: "";
    position: absolute;
    left: 10px;

}

                    }

                    .taco-pic {
                        height: 240px;
                        width: 200px;
                        margin-left: 50px;
                        padding-left: 8px;
                        min-height: 1px;
                    }

                }

            }

            .footer {
                background-color: white;
                height: 85px;
                margin-bottom: 100px;
                .show-more {
                    font-size: 17px;
                    outline: none;
                    color: white;
                    font-weight: bold;
                    background-color: rgb(255, 205, 40);
                    margin: auto;
                    margin-top: 44px;
                    display: block;
                    width: 199px;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    border-radius: 3px;
                    border: none;

                }

                .show-more:hover {
                    cursor: pointer;
                    background-color: rgb(238, 182, 0);
                }
            }
        }
    }

    .right-boxes {
        width: 300px;
        margin-left: 40px;

        .proposal-box {
            font-size: 20px;
            height: 90px;

            a {
                margin: auto;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 10px;
                text-decoration: none;
                font-size: 16px;
                color: rgb(194, 103, 0);
                width: 200px;
            }

            a:hover {
                color: rgb(255, 164, 28);
            }
            
        }

        .taco-loyalists-box {
            background-color: white;
            font-size: 18px;
            height: 255px;
            margin-bottom: 24px;
            padding-left: 14px;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            padding-right: 14px;

            .header {
                background-color: white;
                font-weight: 650;
                padding-top: 12px;
                padding-bottom: 4px;
                margin-bottom: 10px;
            }

            .tacoists-index {
                height: 206px;

                .tacoist {
                    font-size: 8px;
                    height: 33%;
                    width: 25%;
                    margin-left: 4px;
                }
            }

        }

        .similar-tacos-box {
            background-color: white;
            font-size: 18px;
            height: 355px;
            padding-left: 14px;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            padding-right: 14px;
            margin-bottom: 23px;
            

            .header {
                background-color: white;
                font-weight: 650;
                padding-top: 13px;
                padding-bottom: 4px;
            }

            .similar-tacos-index {
                height: 315px;

                .similar-taco {
                    height: 20%;
                }
            }
        }

        .nearby-locations-box {
            background-color: white;
            height: 231px;
            font-size: 18px;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 23px;

            .header {
                background-color: white;
                font-weight: 650;
                padding-top: 12px;
                padding-bottom: 4px;
            }

            .nearby-locations-index {
                height: 192px;

                .nearby-location {
                    height: 33%;
                }
            }
        }

        .popular-locations-box {
            background-color: white;
            font-size: 18px;
            padding-left: 14px;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            padding-right: 14px;
            height: 660px;

            .header {
                background-color: white;
                font-weight: 650;
                padding-top: 12px;
                padding-bottom: 4px; 
            }

            .popular-locations-index {
                height: 621px;

                .popular-location {
                    height: 10%;
                }
            }

        }
    }
}
}

