.taco-index-page {
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: #F5F2E8;
    display: flex;
}

.taco-index-right {
    background-color: white;
    box-sizing: border-box;
    width: 740px;
    display: flex;
    justify-content: center;
    height: auto;
    max-height: 700px;
    margin: 70px 20px 0px 20px;
    overflow: auto;
    padding-bottom: 25px;
}

.taco-index-list {
    list-style: none;
    padding: 0px;
}

.taco-index-image{
    height: 100px;
    width: 100px;
    background-color: lightgray;
    margin-right: 10px;
}
.taco-index-item {
    height: 150px;
    margin-top: 20px;
    width: 650px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.taco-index-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.taco-item-name {
    font-family: 'Lexend Exa', sans-serif;
    color: #c60;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2px;
    text-decoration: none;
}

.taco-item-rest {
    font-family: 'Lexend Exa', sans-serif;
    color: #c60;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: none;
}

.taco-item-rest:visited, .taco-item-name:visited {
    color: #c60;
}

.taco-item-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.taco-item-desc {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.taco-item-stats{
    display: flex;
    width: 540px;
    margin-bottom: 5px;
}

.taco-index-rating {
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.fa-dollar-sign {
    font-size: 18px;
    font-weight: bold;
    color: green;
}

.top-index-item {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.taco-index-left {
    background-color: white;
    box-sizing: border-box;
    width: 350px;
    justify-content: center;
    height: auto;
    max-height: 590px;
    margin: 70px 20px 0px 80px;
    overflow: auto;
    padding-bottom: 25px;
}

.top-index-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0px 15px;
}

.top-item-name {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Lexend Exa', sans-serif;
    color: #c60;
}

.top-item-loc {
    font-family: 'Lexend Exa', sans-serif;
}

.top-rest-text {
    width: 100%;
    height: 75px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.top-rest-border {
    border-bottom: 1px solid black;
    width: 90%;
    margin-top: 20px;
}